<div class="max-w-lg mx-auto my-4 mt-12">
  <div class="flex flex-col">
    <div class="p-2 text-custom-sm bg-primary rounded-md text-white text-center">
      Get your dog's healthy meal today!
    </div>
    <div class="flex justify-center items-center gap-6 my-2">
      <span><img height="auto" width="auto" src="{{ 'shield-check.png' | asset_url }}"></span>
      <span class="text-[13px] text-[#424153]"> 30-day money back guarantee </span>
      <span><img height="auto" width="100%" src="{{ 'Payments.png' | asset_url }}"></span>
    </div>
  </div>
</div>
