<div class="my-4 max-w-5xl mx-auto">
  <h1 class="text-center text-3xl font-bold underline">Our Collections</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-3 my-4">
    {% for collection in collections %}
      {% if collection.all_products_count > 0 %}
        <div class="shadow-md overflow-hidden">
          <a href="{{ collection.url }}">
            {% if collection.featured_image != blank %}
              {% assign image_url = collection.featured_image %}
            {% else %}
              {% assign image_url = collection.products.first.featured_image %}
            {% endif %}
            <div class="h-80 overflow-hidden">
              <img
                width="auto"
                height="auto"
                src="{{ image_url | img_url: 'medium'}}"
                class="h-full w-full object-cover transition duration-500 ease-in-out hover:scale-105 transform"
                alt=""
              >
            </div>
            <p class="p-4 bg-black text-white">{{ collection.title | escape | default: 'No title' }}</p>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "collection"
}
{% endschema %}
